/* Додай це в src/index.css */
:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-button-color: #2481cc;
  --tg-theme-button-text-color: #ffffff;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}